In [3]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('linhas_onibus_maua.csv')
df.head()

  linha    nome da linha
0    20  Sertão Expresso
1    22     Vila Carlina
2    23           Acibam
3    25       Guaraciaba
4    31  PQ. São Vicente

In [10]:
df

   linha                     nome da linha
0     20                   Sertão Expresso
1     22                      Vila Carlina
2     23                            Acibam
3     25                        Guaraciaba
4     31                   PQ. São Vicente
5     32                 Vila João Ramalho
6     41                     Vila Mercedes
7     43                         Guapituba
8     44                      JD. Anchieta
9     51                           Capuava
10    61                       Sônia Maria
11    71                         Paranavaí
12    72                         Nova Mauá
13    73                          Oratório
14    74                            Rosina
15    75                   Cerqueira Leite
16    81                     Égnes Rimazza
17    82                           Zaíra 2
18    83                           Zaíra 3
19    84                             Zaíra
20    85                           Zaíra 5
21    86                           Zaíra 6
22    87                         Boa Vista
23    91                  PQ. Das Américas
24    92                        Santa Rosa
25   101                           Itapark
26   102                          JD. Mauá
27   103                             Bogus
28   104                         Salgueiro
29   107                       Campo Verde
30   108                             Aracy
31   109                           Miranda
32   111                          Cruzeiro
33   112                            Feital
34   113                            Hélida
35   122                        JD. Sílvia
36   123                      Itapark Novo
37   125                            Olinda
38   131                           Itapeva
39   133                         Esperança
40   134                          Santista
41   136                            Canadá
42   141                        São Lúcido
43   142                           Itaussu
44   143               Estrada Do Carneiro
45   144                     JD. Elizabeth
46   145                   Sampaio & Vital
47   132                  Real via Itapark
48   088                 ZAIRA SERTÃOZINHO
49   O30  Parque São Vicente / JD Araguaia

In [24]:
def solicitacaoSIC(row):
    textoSIC = 'Com base na LAI: a Lei de Acesso à Informação, LEI nº 12.527/2011, e seguindo a orientação da solicitação 2023/18 e do resposta a OGM 128/2023, solicito arquivo digital tabulado em formato aberto, que contenha a relação da quantidade de veículos (ônibus) programadas para a Linha @numerolinha - @nomelinha, do sistema de transporte municipal, pelos dias da semana e horários em que o sistema funciona'
    textoPersonalizado = textoSIC.replace('@numerolinha', str(row['linha'])).replace('@nomelinha', row['nome da linha'])
    return textoPersonalizado

In [25]:
df['Solicitações SIC'] = df.apply(solicitacaoSIC, axis=1)

In [26]:
df.head()

  linha    nome da linha                                   Solicitações SIC
0    20  Sertão Expresso  Com base na LAI: a Lei de Acesso à Informação,...
1    22     Vila Carlina  Com base na LAI: a Lei de Acesso à Informação,...
2    23           Acibam  Com base na LAI: a Lei de Acesso à Informação,...
3    25       Guaraciaba  Com base na LAI: a Lei de Acesso à Informação,...
4    31  PQ. São Vicente  Com base na LAI: a Lei de Acesso à Informação,...

In [23]:
df.to_csv('solicitacoes.csv', index=False)